* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
}

.wrapper .card {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: aliceblue;
    border-radius: 10px;
    transform: rotateY(0deg);
    padding: 5px;
}

.wrapper:hover .card {
    transform: rotateY(180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: rotateY(180deg);
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background-color: #1cc7d0;
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    background: red;
    font-size: 25px;
    text-align: center;
    border: 2px solid transparent;
    line-height: 40px;
    color: white;
    margin: 0px 5px;
    border-radius: 50%;
}

.back-face ul a:hover {
    background: none;
    background-color: aqua;
    border-color: #1cc7d0;
}